#passport {
  position: relative;
  background: repeating-linear-gradient(0, #FAF7DA, #FAF7DA 0.3em, #eaf5d8 0.4em, #FAF7DA 0.5em);
  padding: 3em 0.5em 4em 0.5em;
  border-radius: 0 0 2em 2em;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  margin: 1.5em max(1em, calc(25vw - 7em));
  transform: rotate(-3deg);
  max-width: 600px;
}
#passport:before {
  content: "";
  display: block;
  position: absolute;
  top: -5em;
  left: 0;
  right: 0;
  height: 5em;
  background: #4c3b33;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
#passport .background-motif {
  display: flex;
  background: repeating-linear-gradient(45deg, #E7E9DB, #E7E9DB 1.35em, #F0F3D9 1.4em, #E7E9DB 1.45em);
  padding: 2.5em 1em;
}

#passport .passport-picture {
  width: 25%;
  background: #f4eede;
  border-radius: 25%;
  padding: 1%;
  border: solid 0.5em #faf7da;
}

#passport .passport-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2em;
  z-index: 1;
}
#passport .passport-data > span {
  display: inline-block;
  font-weight: bold;
  color: #4c3b33;
  background: #faf7da;
  padding: 0.2rem 0.6rem;
  border-radius: 0.5em;
  margin: 0.15rem 0;
}
#passport .passport-data .name {
  font-size: 1.8em;
}

#passport .passport-stamp {
  position: absolute;
  bottom: 1em;
  right: 1.5em;

  width: 6em;
  height: 6em;
  border: dashed 0.25em #4c3b33;
  padding: 0.25em;
  border-radius: 50%;
}
#passport .passport-stamp img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: solid 0.15em #4c3b33;
  padding: 0.5em;
  box-sizing: border-box;
}
