<div id="passport" *ngIf="user">
  <div class="background-motif">
    <img class="passport-picture" src="{{environment.api_url}}/photo/{{user.username}}" alt="{{user.username}}" />
    <div class="passport-data">
      <span class="name">{{user.display_name}}</span><br />
      <span class="username"><i class="icomoon ico-leaf"></i> {{user.username}}</span><br />
      <span class="mail" *ngIf="user.mail"><i class="fas fa-comment"></i> {{user.mail}}</span>
    </div>
  </div>
  <div class="passport-stamp">
    <img src="assets/img/stamp.png" alt="stamp" />
  </div>
</div>

<app-passport-edit *ngIf="canEdit" [username]="user.username"></app-passport-edit>
