#btn-home {
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
  z-index: 3;

  width: 5em;
  background: #F8F8F8;
  border-radius: 50%;
  transition: 0.1s;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
  -webkit-tap-highlight-color: transparent;
}
#btn-home:active,
#btn-home:focus {
  outline: none;
  transform: scale(0.85);
}

